.login{
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  padding: 30px 26px 20px 26px;
  box-shadow: 0px 0px 6px rgb(130, 130, 130);
  margin-bottom: 20px;
}

.wrapper{
  flex-direction: column;
}
input{
  background-color: white;
  border-radius: 4px;
  border: none;
  padding: 16px 24px 16px 24px;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 15px;
}

input:focus{
  outline: none;
}
input::placeholder{
  color: rgb(141, 141, 141);
}


.cta {
  border: none;
  background: none;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 50px;
}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 5px;
  font-size: 22px;
  font-weight: bold;
  padding-right: 15px;
  text-transform: uppercase;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.2s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: rgb(255, 255, 255);
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}