.disp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 0px;
  background-color: rgba(255, 255, 255, 0.8);  
  border-radius: 8px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.75);
  width: 400px;
}

.bld{
  font-weight: bold;
}

.year{
  display: flex;
  flex-direction: row;
}

.blod{
  margin-left: 15px;
  margin-right: 15px;
}