body{
  background: url(4049458.jpg);
  background-size: cover;
}

.header{
  background-color: rgba(170, 170, 170, 0.2);
  border-radius: 6px;
  backdrop-filter: blur(6px);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 15px 20px 15px;
}

.headerbutton{
  border: none;
  margin: 0px 40px 0px 40px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: white;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 50px;
  padding: 14px 28px 14px 28px;
  box-shadow: 0px 0px 8px rgb(106, 106, 106);
  transition: all 0.4s;
  cursor: pointer;
}

.headerbutton:hover{
  background-color: white;
  color: black;
  box-shadow: inset 0px 0px 4px rgb(111, 111, 111);
}

.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}