
    body{
        background: url(bg4.jpg);
        background-size: cover;
    }
    .login{
        background-color: rgba(65, 65, 65, 0.15);
        backdrop-filter: blur(4px);
        display: block;
        margin: auto;
        border-radius: 10px;
        width: 300px;
        padding: 30px 26px 20px 26px;
        box-shadow: 0px 0px 6px rgb(130, 130, 130);
    }
    input,button{
        display: block;
        margin: auto;
    }
    h1{
        margin-top: 100px;
        margin-bottom: 50px;
        text-align: center;
        font-family: Archivo black, Arial, Helvetica, sans-serif;
        font-size: 50px;
    }
    input{
        background-color: white;
        border-radius: 4px;
        border: none;
        padding: 16px 24px 16px 24px;
        margin-bottom: 15px;
        font-size: 15px;
    }
    .cta {
        border: none;
        background: none;
        cursor: pointer;
        margin-top: 25px;
        margin-left: 80px;
    }
      
    .cta span {
        padding-bottom: 7px;
        letter-spacing: 5px;
        font-size: 22px;
        font-weight: bold;
        padding-right: 15px;
        text-transform: uppercase;
    }
      
    .cta svg {
        transform: translateX(-8px);
        transition: all 0.2s ease;
    }
      
    .cta:hover svg {
        transform: translateX(0);
    }
    
    .cta:active svg {
        transform: scale(0.9);
    }
      
    .hover-underline-animation {
        position: relative;
        color: black;
        padding-bottom: 20px;
    }
      
    .hover-underline-animation:after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #000000;
        transform-origin: bottom right;
        transition: transform 0.3s ease-out;
    }
      
    .cta:hover .hover-underline-animation:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    input:focus{
        outline: none;
    }
    input::placeholder{
        color: rgb(141, 141, 141);
    }
    a{
        text-decoration: none;
    }

    .radio-inputs {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        border-radius: 0.5rem;
        background-color: rgba(86, 86, 86, 0.15);
        backdrop-filter: blur(3px);
        box-sizing: border-box;
        box-shadow: 0px 0px 3px rgb(130, 130, 130);
        padding: 0.25rem;
        width: 300px;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        margin: auto;
        margin-bottom: 30px;
    }
      
    .radio-inputs .radio {
        flex: 1 1 auto;
        text-align: center;
    }
      
    .radio-inputs .radio input {
        display: none;
    }
      
    .radio-inputs .radio .name {
        display: flex;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        border-radius: 0.5rem;
        border: none;
        padding: .5rem 0;
        color: rgb(0, 0, 0);
        transition: all .15s ease-in-out;
    }
      
    .radio-inputs .radio input:checked + .name {
        background-color: #fff;
        font-weight: 600;
    }